body {
    background-color: rgb(253, 255, 255);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    font-family: 'Source Serif Pro', serif;

}

.sidebar {
    display: flex;
    width: 50%;
    height: 97%;
    margin: 1%;
    background-image: url(Side-image.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;

}



#odin-logo {
    position: relative;
    width: 150px;
    margin: 25px;
}



.form-title {
    
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 800;
}



.form {
    width: 100%;
    height: 30%;
    margin: 0;
    margin-bottom: 5%;
    margin-top: -5%;
    padding: 0;
      
}

form{
    
    width: 100%;
    margin-left: 0%;
    
}

.formsection{
    padding: 0 10%;
}


.form-label{
    font-weight: 900;
    font-size: 20px;
    display: block;
    transition: all 0.5s;
    transform: translateY(-3.4rem);
    
}

.form-input {
    border: 2px solid gray;
    color: #333;
    font-size: 1.2rem;
    padding: 0.2rem 0.2rem;
    border-radius: 0.2rem;
    width: 100%;
    display: block;
    transition: all 0.5s;
    
    padding-right: 10%;
}


.form-input:focus {
    transition: 0.2s;
    outline: none;
    border: 2px solid blue;
}

.form-input:invalid {
    border: 2px solid rgb(249, 83, 83);
}

.inputs{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.inputs> :last-child {
    padding-left: 10%;
}




a:link {
    text-decoration: none;
}

.buttonsection {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;   
}

#create-account-button, .button-message{
    margin-bottom: 5%;
}

#create-account-button {
    color: #F9FAF8;
    background-color: #596D48;
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
    width: 10em;
    font-weight: 600;
    font-size: 17px;
    margin: 0 0 15px 20px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-align: center;
}

.button-message {

    margin-left: 20px;
}